In [27]:
#dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

## Population Statistics

In [28]:
#csv file to read
population_path = r"C:\Users\marie\Documents\KU_Bootcamp\Housing_Project\data.csv"
employment_path = r"C:\Users\marie\Documents\KU_Bootcamp\Housing_Project\Current-Employment-Statistics-December'22.csv"
#read the file
population_data = pd.read_csv(population_path, encoding="UTF-8")
population_data

,year,fips,pop2010,pop2023,state,stateCode,growthSince2010,name,ctyname,slug,landArea,density,StatePercentage,StateRank,densityMi,area
0,2023,29189,998954,1005676,Missouri,MO,0.006729,St. Louis County,St. Louis County,st-louis-county-mo,508,1979.677165,0.162083,1,1979.677165,508
1,2023,29095,674158,730119,Missouri,MO,0.083009,Jackson County,Jackson County,jackson-county-mo,604,1208.806291,0.117672,2,1208.806291,604
2,2023,29183,360485,418696,Missouri,MO,0.161480,St. Charles County,St. Charles County,st-charles-county-mo,560,747.671429,0.067480,3,747.671429,560
3,2023,29077,275174,306037,Missouri,MO,0.112158,Greene County,Greene County,greene-county-mo,675,453.388148,0.049323,4,453.388148,675
4,2023,29510,319294,296262,Missouri,MO,-0.072134,St. Louis City,St. Louis City,st-louis-city-mo,62,4778.419355,0.047748,5,4778.419355,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2023,29087,4912,4016,Missouri,MO,-0.182410,Holt County,Holt County,holt-county-mo,463,8.673866,0.000647,111,8.673866,463
111,2023,29197,4431,3912,Missouri,MO,-0.117129,Schuyler County,Schuyler County,schuyler-county-mo,307,12.742671,0.000630,112,12.742671,307
112,2023,29103,4131,3627,Missouri,MO,-0.122004,Knox County,Knox County,knox-county-mo,504,7.196429,0.000585,113,7.196429,504
113,2023,29129,3785,3463,Missouri,MO,-0.085073,Mercer County,Mercer County,mercer-county-mo,454,7.627753,0.000558,114,7.627753,454
114,2023,29227,2171,1913,Missouri,MO,-0.118839,Worth County,Worth County,worth-county-mo,267,7.164794,0.000308,115,7.164794,267

In [29]:
#list of all the column names
population_data.columns

Index(['year', 'fips', 'pop2010', 'pop2023', 'state', 'stateCode',
       'growthSince2010', 'name', 'ctyname', 'slug', 'landArea', 'density',
       'StatePercentage', 'StateRank', 'densityMi', 'area'],
      dtype='object')

In [30]:
#remove unnecessary columns
cleaned_population = population_data.drop(['year', 'fips', 'state', 'stateCode',
       'growthSince2010', 'ctyname', 'slug', 'landArea', 'density',
       'StatePercentage', 'StateRank', 'densityMi', 'area'], axis=1)
cleaned_population

     pop2010  pop2023                name
0     998954  1005676    St. Louis County
1     674158   730119      Jackson County
2     360485   418696  St. Charles County
3     275174   306037       Greene County
4     319294   296262      St. Louis City
..       ...      ...                 ...
110     4912     4016         Holt County
111     4431     3912     Schuyler County
112     4131     3627         Knox County
113     3785     3463       Mercer County
114     2171     1913        Worth County

[115 rows x 3 columns]

In [31]:
#reorganize the columns
organized_population = cleaned_population[["name", "pop2010", "pop2023"]]
organized_population

                   name  pop2010  pop2023
0      St. Louis County   998954  1005676
1        Jackson County   674158   730119
2    St. Charles County   360485   418696
3         Greene County   275174   306037
4        St. Louis City   319294   296262
..                  ...      ...      ...
110         Holt County     4912     4016
111     Schuyler County     4431     3912
112         Knox County     4131     3627
113       Mercer County     3785     3463
114        Worth County     2171     1913

[115 rows x 3 columns]

In [32]:
#rename the columns
final_population = organized_population.rename(columns={"name":"County", "pop2010":"2010 Population", 
                                                         "pop2023":"2023 Population"})
final_population

        Missouri County  2010 Population  2023 Population
0      St. Louis County           998954          1005676
1        Jackson County           674158           730119
2    St. Charles County           360485           418696
3         Greene County           275174           306037
4        St. Louis City           319294           296262
..                  ...              ...              ...
110         Holt County             4912             4016
111     Schuyler County             4431             3912
112         Knox County             4131             3627
113       Mercer County             3785             3463
114        Worth County             2171             1913

[115 rows x 3 columns]

## Employment Rate

In [34]:
#read employment csv
employment_data = pd.read_csv(employment_path)
employment_data

,Month,Year,AreaCode,SeriesCode,Industry,JobsCurrentMonth,JobsLastMonth,JobsLastyear,NetChangeFromLastMonth,NetChangeFromLastyear,NaicsCode,SeriesLevel,PercentChangeFromLastYear
0,12,2022,2901000000,0,Total nonfarm,2957000,2938300,2885700,18700,71300,Total nonfarm,1,2.47%
1,12,2022,2901000000,5000000,Total private,2529700,2511400,2459300,18300,70400,Total private,2,2.86%
2,12,2022,2901000000,6000000,Goods-producing,431300,426100,411600,5200,19700,Goods-producing,3,4.79%
3,12,2022,2901000000,7000000,Service-providing,2525700,2512200,2474100,13500,51600,Service-providing,3,2.09%
4,12,2022,2901000000,8000000,Private service-providing,2098400,2085300,2047700,13100,50700,Private service-prov,3,2.48%
5,12,2022,2901000000,15000000,"Mining, Logging and Construction",141000,149600,141800,-8600,-800,-,4,-0.56%
6,12,2022,2901000000,10000000,Mining and logging,4400,4700,4600,-300,-200,Mining and logging,4,-4.35%
7,12,2022,2901000000,20000000,Construction,136600,144900,137200,-8300,-600,23,4,-0.44%
8,12,2022,2901000000,30000000,Manufacturing,290300,276500,269800,13800,20500,-,3,7.60%
9,12,2022,2901000000,31000000,Durable goods,174300,168000,159800,6300,14500,-,4,9.07%
10,12,2022,2901000000,32000000,Nondurable goods,116000,108500,110000,7500,6000,-,4,5.45%
11,12,2022,2901000000,40000000,"Trade, transportation, and utilities",558300,549700,553000,8600,5300,-,4,0.96%
12,12,2022,2901000000,41000000,Wholesale trade,127400,124400,121300,3000,6100,-,4,5.03%
13,12,2022,2901000000,42000000,Retail trade,300900,296700,305800,4200,-4900,-,4,-1.60%
14,12,2022,2901000000,43000000,Transportation and warehousing,130000,128600,125900,1400,4100,-,4,3.26%
15,12,2022,2901000000,50000000,Information,48600,46400,47300,2200,1300,51,4,2.75%
16,12,2022,2901000000,55000000,Financial activities,188400,181900,176800,6500,11600,-,4,6.56%
17,12,2022,2901000000,55530000,Real estate and rental and leasing,45000,39500,37800,5500,7200,53,5,19.05%
18,12,2022,2901000000,60000000,Professional and business services,390300,398800,383100,-8500,7200,-,4,1.88%
19,12,2022,2901000000,60540000,Professional and technical services,179300,182400,171600,-3100,7700,54,5,4.49%
20,12,2022,2901000000,60550000,Management of companies and enterprises,60800,60500,59100,300,1700,55,5,2.88%
21,12,2022,2901000000,60560000,Administrative and waste services,150200,155900,152400,-5700,-2200,56,5,-1.44%
22,12,2022,2901000000,65000000,Education and health services,492700,488500,479200,4200,13500,-,4,2.82%
23,12,2022,2901000000,65610000,Educational services,68600,64300,62600,4300,6000,61,5,9.58%
24,12,2022,2901000000,65620000,Health care and social assistance,424100,424200,416600,-100,7500,62,5,1.80%
25,12,2022,2901000000,70000000,Leisure and hospitality,303400,301700,293200,1700,10200,-,4,3.48%
26,12,2022,2901000000,70710000,"Arts, entertainment, and recreation",46700,42300,40700,4400,6000,71,5,14.74%
27,12,2022,2901000000,70720000,Accommodation and food services,256700,259400,252500,-2700,4200,72,5,1.66%
28,12,2022,2901000000,80000000,Other services,116700,118300,115100,-1600,1600,81,4,1.39%
29,12,2022,2901000000,90000000,Government,427300,426900,426400,400,900,-,2,0.21%
30,12,2022,2901000000,90910000,Federal,55300,54700,57100,600,-1800,-,3,-3.15%
31,12,2022,2901000000,90920000,State government,103100,103100,102200,0,900,-,3,0.88%
32,12,2022,2901000000,90930000,Local government,268900,269100,267100,-200,1800,-,3,0.67%

In [35]:
#list all of the column names
employment_data.columns

Index(['Month', 'Year', 'AreaCode', 'SeriesCode', 'Industry',
       'JobsCurrentMonth', 'JobsLastMonth', 'JobsLastyear',
       'NetChangeFromLastMonth', 'NetChangeFromLastyear', 'NaicsCode',
       'SeriesLevel', 'PercentChangeFromLastYear'],
      dtype='object')

In [38]:
#clean up the data
cleaned_rates = employment_data.drop(['AreaCode', 'SeriesCode',
       'JobsCurrentMonth', 'JobsLastMonth', 
       'NetChangeFromLastMonth', 'NaicsCode',
       'SeriesLevel'], axis=1)
cleaned_rates

,Month,Year,Industry,JobsLastyear,NetChangeFromLastyear,PercentChangeFromLastYear
0,12,2022,Total nonfarm,2885700,71300,2.47%
1,12,2022,Total private,2459300,70400,2.86%
2,12,2022,Goods-producing,411600,19700,4.79%
3,12,2022,Service-providing,2474100,51600,2.09%
4,12,2022,Private service-providing,2047700,50700,2.48%
5,12,2022,"Mining, Logging and Construction",141800,-800,-0.56%
6,12,2022,Mining and logging,4600,-200,-4.35%
7,12,2022,Construction,137200,-600,-0.44%
8,12,2022,Manufacturing,269800,20500,7.60%
9,12,2022,Durable goods,159800,14500,9.07%
10,12,2022,Nondurable goods,110000,6000,5.45%
11,12,2022,"Trade, transportation, and utilities",553000,5300,0.96%
12,12,2022,Wholesale trade,121300,6100,5.03%
13,12,2022,Retail trade,305800,-4900,-1.60%
14,12,2022,Transportation and warehousing,125900,4100,3.26%
15,12,2022,Information,47300,1300,2.75%
16,12,2022,Financial activities,176800,11600,6.56%
17,12,2022,Real estate and rental and leasing,37800,7200,19.05%
18,12,2022,Professional and business services,383100,7200,1.88%
19,12,2022,Professional and technical services,171600,7700,4.49%
20,12,2022,Management of companies and enterprises,59100,1700,2.88%
21,12,2022,Administrative and waste services,152400,-2200,-1.44%
22,12,2022,Education and health services,479200,13500,2.82%
23,12,2022,Educational services,62600,6000,9.58%
24,12,2022,Health care and social assistance,416600,7500,1.80%
25,12,2022,Leisure and hospitality,293200,10200,3.48%
26,12,2022,"Arts, entertainment, and recreation",40700,6000,14.74%
27,12,2022,Accommodation and food services,252500,4200,1.66%
28,12,2022,Other services,115100,1600,1.39%
29,12,2022,Government,426400,900,0.21%
30,12,2022,Federal,57100,-1800,-3.15%
31,12,2022,State government,102200,900,0.88%
32,12,2022,Local government,267100,1800,0.67%

In [39]:
final_employment = cleaned_rates.rename(columns={"JobsLastyear":"Total Jobs", "NetChangeFromLastyear":"Net Change",
                                                 "PercentChangeFromLastYear":"Percent Change"})
final_employment

,Month,Year,Industry,Total Jobs,Net Change,Percent Change
0,12,2022,Total nonfarm,2885700,71300,2.47%
1,12,2022,Total private,2459300,70400,2.86%
2,12,2022,Goods-producing,411600,19700,4.79%
3,12,2022,Service-providing,2474100,51600,2.09%
4,12,2022,Private service-providing,2047700,50700,2.48%
5,12,2022,"Mining, Logging and Construction",141800,-800,-0.56%
6,12,2022,Mining and logging,4600,-200,-4.35%
7,12,2022,Construction,137200,-600,-0.44%
8,12,2022,Manufacturing,269800,20500,7.60%
9,12,2022,Durable goods,159800,14500,9.07%
10,12,2022,Nondurable goods,110000,6000,5.45%
11,12,2022,"Trade, transportation, and utilities",553000,5300,0.96%
12,12,2022,Wholesale trade,121300,6100,5.03%
13,12,2022,Retail trade,305800,-4900,-1.60%
14,12,2022,Transportation and warehousing,125900,4100,3.26%
15,12,2022,Information,47300,1300,2.75%
16,12,2022,Financial activities,176800,11600,6.56%
17,12,2022,Real estate and rental and leasing,37800,7200,19.05%
18,12,2022,Professional and business services,383100,7200,1.88%
19,12,2022,Professional and technical services,171600,7700,4.49%
20,12,2022,Management of companies and enterprises,59100,1700,2.88%
21,12,2022,Administrative and waste services,152400,-2200,-1.44%
22,12,2022,Education and health services,479200,13500,2.82%
23,12,2022,Educational services,62600,6000,9.58%
24,12,2022,Health care and social assistance,416600,7500,1.80%
25,12,2022,Leisure and hospitality,293200,10200,3.48%
26,12,2022,"Arts, entertainment, and recreation",40700,6000,14.74%
27,12,2022,Accommodation and food services,252500,4200,1.66%
28,12,2022,Other services,115100,1600,1.39%
29,12,2022,Government,426400,900,0.21%
30,12,2022,Federal,57100,-1800,-3.15%
31,12,2022,State government,102200,900,0.88%
32,12,2022,Local government,267100,1800,0.67%

## Income Statistics

## House Prices Statistics